{% load static %}
<head>
    <title>Hello World Website</title>
    <meta name="description" content="This is a Hello World Website">
    <link rel="stylesheet" href="{% static 'myapp/hello.css' %}">

</head>

<body>
    <h1>Hello World!</h1>
    <p>{{ n }}</p>
    <p>{{fg }}</p>
    <button class="w-btn w-btn-indigo" type="button">
        BUTTON
    </button>
    <button class="w-btn w-btn-green" type="button">
        BUTTON
    </button>
    <style>
    h1 {
      color: blue;
      }
    </style>

    <script src="{% static 'myapp/hello.js' %}"></script>
</body>